/* Layout.css */

/* Background image */
  /* .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: url("https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg");
    background-size: cover;
    background-position: center;
  } */

/* .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBtns {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navAlign {

}